
.redes-sociales{
	margin-top: 3em;
	text-align: right;
	margin-bottom: 1em;
}
.icono{
	position: absolute;
	left: 350px;
	top: 80px;
	z-index: 2;
}	
	
 	
.menu{
	padding: 0px;
	margin: 0px;
	text-align: center;
	background: #D7280F;
	padding-top: 1em; 
	padding-bottom: 1em;
}

.menu li{
	list-style: none;
	display: inline;
}
.menu a{
	padding: 1em;
	color: #fff;
	font-size: 16px;
}
.baner {
	background: url("img/fondo-portada.jpg") no-repeat  ;
	width: 100%;
}
.titulo{
	color:#fff;
	margin-left: 3em;
	margin-top: 0em; 
	padding-top: 15em;
	padding-bottom:15em;
	font-family: "Arial Black";
}

.bienvenida h2{
	text-align: center;
	color: red;
	font-size:3em;
	font-family: 'Lalezar', cursive;
}
.bienvenida p{
	text-align: center;
	font-family: "Arial";
	margin-left: 9em;
	margin-right:9em;
	font-size: 15px;
}
.iconos{
text-align: center;
margin-top: 3em;
}
.iconos img{
text-align: center;

}
.azul{
	background: #2E64FE;
	color:#fff;
	text-align: center;
	font-family: "Arial";
	padding: 3px;
	margin-left: 5em;
	margin-right: 5em;
	border-radius: 5PX;
}
.naranja{
	background: #DF7401;
	color:#fff;
	text-align: center;
	font-family: "Arial";
	padding: 3px;
	margin-left: 5em;
	margin-right: 5em;
	border-radius: 5PX;
}
.verde{
	background:#04B404;
	color:#fff;
	text-align: center;
	font-family: "Arial";
	padding: 3px;
	margin-left: 5em;
	margin-right: 5em;
	border-radius: 5PX;
}
.iconos img{
	width: 150px;
	height: 150px;
}
.promociones h4{
	text-align: center;
	color: red;
	font-size:2em;
	font-family: 'Lalezar', cursive;
	margin-top: 2em;
}
.promociones p{
	text-align: center;
	font-family: "Arial";
}
.promociones img{
	text-align: center;
	border:5px #0080FF solid;
}
.titu-pie{
	color: #fff;
	margin-top:2em; 
	margin-left: 2em;


}
.lista li{
	color: #fff;
	margin-left: 2em;
}

.seguridad{
	background: url("img/viaje-seguro.jpg") no-repeat  center;
	background-size: cover;
	padding-bottom: 10em;
	margin-top: 2em;
}


.footer1{
	background: url("img/bg_footer.png")no-repeat  center;
	width: 100%;
	height: 53px;
	margin-top: 2em;
	

}
footer{
	background: #D7280F;
	margin-bottom:5em; 
	margin-top: 0px;
}
	
footer ul{
padding: 0px;
margin: 0px;
margin-bottom:5em;
}
footer li{
list-style: none;
color:#fff;
}

footer ul,li a{
color:#fff;
margin-left:2em; 
 
}
footer h5{
color:#fff;
margin-left:2em; 
font-size: 20px;
 
}
.terminos{
	text-align: right;
	margin-right: 2em;
}
.terminos p{
	margin-top: 1em;
	text-align:right;
	color: #fff;
}
	