.seguridad{
	/* la propiedad background permite colocar un color o imagen de fondo */
	background: url("img/viaje-seguro.jpg") no-repeat  center;
	background: cover;
	padding-top: 3em;
	padding-bottom: 20em;
	

	margin-top: 3em;

}
.logotipo{
	margin-bottom: :-1em;
	padding-bottom: : -2em;

}

.redes-sociales{
	text-align: right;
}

.menu{
	padding: 0px;
	margin: 0px;
	text-align: center;
	background: red;
	padding-top: 5px; 
	padding-bottom: 5px;
}
.menu li{
	list-style: none;
	display: inline;
}
.menu a{
	padding: 1em;
	color: #fff;
	font-size: 16px;
}
.baner {
	background: url("img/fondo-portada.jpg") no-repeat  ;
	width: 100%;
}
.titulo{
	color:#fff;
	margin-left: 3em;
	margin-top: 0em; 
	padding-top: 15em;
	padding-bottom:15em;
	font-family: "Arial Black";
}

.bienvenida h2{
	text-align: center;
	color: red;
	font-size:3em;
	font-family: 'Lalezar', cursive;
}
.bienvenida p{
	text-align: center;
	font-family: "Arial";
	margin-left: 9em;
	margin-right:9em;
	font-size: 15px;
}
.iconos{
text-align: center;
margin-top: 3em;
}
.iconos img{
text-align: center;

}
.azul{
	background: #2E64FE;
	color:#fff;
	text-align: center;
	font-family: "Arial";

}
.naranja{
	background: #DF7401;
	color:#fff;
	text-align: center;
	font-family: "Arial";
}
.verde{
	background:#04B404;
	color:#fff;
	text-align: center;
	font-family: "Arial";
}
.promociones h4{
	text-align: center;
	color: red;
	font-size:2em;
	font-family: 'Lalezar', cursive;
	margin-top: 2em;
}
.promociones p{
	text-align: center;
	font-family: "Arial";
}
.promociones img{
	text-align: center;
	border:5px #0080FF solid;
}
.titu-pie{
	color: #fff;
	margin-top:2em; 
	margin-left: 2em;


}
.lista li{
	color: #fff;
	margin-left: 2em;
}


